<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::h1}, ~{::div})}" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<h1>회원가입 페이지</h1>

<hr/>

<div>
    <p id="join-exception" style="color : red"></p>

    <form>
        <input type="text" name="username" id="username" placeholder="Username"/>
        <p id="username-exception" style="color : red"></p>
        <br/>

        <input type="password" name="password" id="password" placeholder="Password"/>
        <p id="password-exception" style="color : red"></p>
        <br/>

        <input type="email" name="email" id="email" placeholder="Email"/>
        <p id="email-exception" style="color : red"></p>
        <br/>
    </form>

    <button type="button" id="btn-join">회원가입</button>

    <br>

    <a href="/login">로그인</a>
    <a href="/">게시판</a>
</div>
</body>
</html>